form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

label {
  font-weight: bold;
}

.password, .login {
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.active {
  background-color: #50b450;
}