.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform .2s;
  font-size: 20px;
  font-weight: 600;
  &:hover {
    transform: scale(1.2);
  }
}

.poster {
  width: 200px;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.average {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

.buttonDel {
  cursor: pointer;
  background-color: red;
  border: none;
  padding: 10px 15px 10px 15px;
  color: #eee;
  border-radius: 10px;
}