.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  gap: 40px;
  width: 200px;
  font-size: 1vw;
}

.navItem {
  text-decoration: none;
  font-size: 15px;
  border: 1px red solid;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;

  &:hover {
    text-decoration: underline;
    color: white;
    opacity: 0.8;
  }
}